extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.case01;

block contentFixedBefore

block contentStatic
  .p-case01
    .p-case01-kv
      .p-case01-kv__image.js-parallax-item(
        data-range-y = 25
        data-ratio-y = 0.015
        )
      h1.p-case01-kv__title
        |Parallax Study!!
        
    .p-case01-section-1
      .p-case01-section-1__wrap
        .p-case01-section-1__image.p-case01-section-1__image--01.js-parallax-item(
          data-range-y = 150
          data-ratio-y = -0.06
          )
          img(src=`${path}/img/case01/image01.jpg`, alt="")
          .p-case01-section-1__handwrite
            |Weird!
        .p-case01-section-1__image.p-case01-section-1__image--02.js-parallax-item(
          data-range-y = 25
          data-ratio-y = 0.015
          )
          img(src=`${path}/img/case01/image02.jpg`, alt="")
        h2.p-case01-section-1__heading
          |Hi!
          br
          |I'm ROBOT MAN.
        .p-case01-section-1__text
          |This is the story about a mysterious world...
          
    .p-case01-filter
      .p-case01-filter__items
        .p-case01-filter__item.js-hover
          .p-case01-filter__item__image
            img.on(src=`${path}/img/case01/gallery01.jpg`, alt="")
            img.under(src=`${path}/img/case01/gallery01.jpg`, alt="")
        .p-case01-filter__item.js-hover
          .p-case01-filter__item__image
            img.on(src=`${path}/img/case01/gallery02.jpg`, alt="")
            img.under(src=`${path}/img/case01/gallery02.jpg`, alt="")
      svg
        filter#monochrome(
          color-interpolation-filters="sRGB"
          )
          feComponentTransfer
            feFuncR(type="linear" slope="1.5" intercept="0.05")
            feFuncG(type="linear" slope="1.5" intercept="0.05")
            feFuncB(type="linear" slope="1.5" intercept="0.05")
          feComponentTransfer
            feFuncR(type="table" tableValues="0.3882 0.898")
            feFuncG(type="table" tableValues="0.2784 0.87")
            feFuncB(type="table" tableValues="0.2509 0.87")
            feFuncA(type="table" tableValues="0 1")
          
    .p-case01-pixi
      //- canvas.p-case01-pixi__canvas

block contentFixedAfter
